#############################################
## DO NOT PUT LOCK FILES IN THE GITIGNORE!! #
#############################################

/node_modules
.idea
#############################################
## DO NOT PUT LOCK FILES IN THE GITIGNORE!! #
#############################################

