#############################################
## DO NOT PUT LOCK FILES IN THE GITIGNORE!! #
#############################################

/node_modules
.idea
.env
#############################################
## DO NOT PUT LOCK FILES IN THE GITIGNORE!! #
#############################################

